@import "../../assets/var.css";
.locationsTable {
    height: 97%;
    border: var(--color-black-ligher) 1rem solid;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    padding: 1rem;
    border-collapse: collapse;
    color: var(--color-grey);
}

th {
    font-size: 1.2rem;
}

table img {
    height: 50%;
}

td,
th {
    padding: 0.75rem;
    text-align: center;
}

tr {
    border-bottom: 1pt solid var(--color-black-ligher);
    cursor: pointer;
}

tbody tr:hover {
    background-color: var(--color-black-ligher);
}

tbody tr td {
    font-weight: 600;
    font-size: 0.8rem;
}

tbody tr td:first-child {
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
}

.exposureImage {
    width: 60%;
}

.pagination {
    display: flex;
    background-color: var(--color-black-ligher);
    padding: 1rem;
}

.newPublish {
    color: var(--color-blue);
    padding: 0;
    margin: 0;
}

.filterActive {
    cursor: pointer;
    fill: var(--color-blue) !important;
}

.filterNonActive {
    fill: var(--color-grey) !important;
    cursor: pointer;
}

.active {
    color: var(--color-blue);
    cursor: pointer;
}

.nonActive {
    color: var(--color-grey);
    cursor: pointer;
}

.modalLink {
    color: var(--color-blue);
    font-weight: 600;
    cursor: pointer;
}

.publishedFilterDisabled {
    color: orange;
    cursor: not-allowed;
}