@import "../src/assets/var.css";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--font-text);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}