@import "../src/assets/var.css";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--font-text);
}

html {
    font-size: 62.5%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: var(--color-black) !important;
    opacity: 0.8;
    color: var(--color-grey);
    border-radius: 10px;
    text-align: center !important;
}

.leaflet-popup-content-wrapper p,
.leaflet-popup-tip p {
    color: var(--color-grey);
    font-size: 0.8rem;
}